<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{  permalink }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title }} — {{ settings:site_name }}">
<meta property="og:description" content="{{ excerpt ?? title }}">
{{ featured_image }}
    <meta property="og:image" content="{{ permalink }}">
{{ /featured_image }}

<!-- Twitter Meta Tags -->
{{ if featured_image }}
    <meta name="twitter:card" content="summary_large_image">
    {{ featured_image }}
        <meta name="twitter:image" content="{{ permalink }}">
    {{ /featured_image }}
{{ else }}
    <meta name="twitter:card" content="summary">
{{ /if }}

<meta property="twitter:domain" content="hayleybech.me">
<meta property="twitter:url" content="{{  permalink }}">
<meta name="twitter:title" content="{{ title }} — {{ settings:site_name }}h">
<meta name="twitter:description" content="{{ excerpt ?? title }}">
