<div class="max-w-5xl mx-auto relative mt-16">
    {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-8 top-0 left-0 w-20 hidden md:block" }}
    <article class="py-32 max-w-2xl mx-auto">
        <header class="content">
            <h1>{{ title }}</h1>
            {{ content }}
        </header>
        {{ taxonomy:topics sort="title" }}
            {{# Fixes unpublished articles being included in count #}}
            {{# Fixed in Statamic v5, safe to remove this after update #}}
            {{ articles_count = {term_entries_count collection="articles" :term="id"} }}
            {{ if articles_count > 0 }}
                <h2 class="text-4xl font-bold hover:text-teal"><a href="{{ url }}">{{ title | title }}</a></h2>
                <p class="mb-4 text-gray-600">{{ articles_count }} {{ "article" | plural($articles_count) }}</p>
            {{ /if }}
        {{ /taxonomy:topics }}
    </article>
</div>
